<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:tx="http://www.springframework.org/schema/tx"
    default-autowire="byName"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">
        
        <bean id="sessionUtil" class="com.zyy.util.SessionUtil"></bean>
        
        <bean id="userDao" class="com.zyy.dao.impl.UserDaoImpl">
        	<property name="sessionFactory" ref="sessionFactory"></property>
        </bean>
        
        <bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
        	<property name="dataSource"><ref bean="dataSource"/> </property>
        	<property name="mappingResources">
        		<list>
        			<value>com/zyy/bean/User.hbm.xml</value>
        		</list>
        	</property>
        	
        </bean>
        
        
        <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
        	<property name="driverClassName">
        		<value>com.mysql.jdbc.Driver</value>
        	</property>
        	<property name="url">
        		<value>jdbc:mysql://10.32.10.73:3310/spring_db</value>
        	</property>
        	<property name="username">
        		<value>root</value>
        	</property>
        	<property name="password">
        		<value>123456</value>
        	</property>
        </bean>
        
</beans>